* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fff;
    --sec-bg-color: #ddd;
    --font-color: #333;
    --hover-bg-color: #333;
    --hover-font-color: #666;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: var(--font-color);
    text-align: center;
}

.container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
}

.logo {
    text-align: center;
    width: 100vw;
}

.logo h1 {
    margin-top: 25px;
    letter-spacing: 0.15em;
    font-size: 1.2em;
}

.logo p {
    margin-bottom: 25px;
    font-size: 1em;
}

#underline-logo {
    height: 0;
    border: 0;
    border-top: 2px solid var(--font-color);
    margin: 0;
    padding: 0;
    width: 60%;
}

.menu {
    width: 100vw;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    font-weight: 700;
}

#menu {
    margin: 25px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--font-color);
}

.sub-menu-item {
    margin: 2%;
}

.menu ul ul li > a{
    color: var(--font-color);
    margin: 0;
}

.main-photo {
    overflow: hidden;
    font-size: 0;
    width: 100vw;
}
.main-photo img {
    width: 100%;
    margin-bottom: 25px;
}

.abt-me {
    margin: 0 .5em;
    padding: 10px 5px;
    text-align: justify;
    text-align-last: center;
}

#underline-socials {
    height: 0;
    border: 0;
    border-top: 2px solid var(--font-color);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 7%;
    width: 50%;
}

.soc-container {
    display: flex;
    justify-content: center;
}

.social-item {
    font-size: 2.5em;
    padding: 5% 8%;
    margin: 2% 0;
}

.social-item a {
    text-decoration: none;
    color: var(--font-color);
}

.social-item a:hover {
    text-decoration: none;
    color: var(--hover-font-color);
}

.sec-part {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    background-color: var(--sec-bg-color);
    width: 100vw;
}

.gallery p {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

.gal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
    font-size: 0;
    width: 80vw;
    margin: auto;
}

.image {
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 200px;
}

.photo1 {
    background-image: url(../img/diver-lg.jpg);
}

.photo2 {
    background-image: url(../img/skateboarding-lg.jpg);
}

.photo3 {
    background-image: url(../img/run-lg.jpg);
}

.photo4 {
    background-image: url(../img/camp-lg.jpg);
}

.photo5 {
    background-image: url(../img/family-lg.jpg);
}

.photo6 {
    background-image: url(../img/hiking-lg.jpg);
}

.photo7 {
    background-image: url(../img/guitar-lg.jpg);
}

.photo8 {
    background-image: url(../img/books-lg.jpg);
}

.photo9 {
    background-image: url(../img/harley-lg.jpg);
}

.mobile-disp-none {
    display: none;
}


.contact-form {
    display: block;
    width: 100vw;
    margin: 0 auto;
    padding: 0.5em;   
}

.contact-form p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.5em;
}

.contact-form input, textarea {
    width: 80%;
    height: 2.5em;
    margin: 5px;
    padding: .3em;
    border: 1px solid;
    border-color: var(--font-color);
    border-radius: 3px;
    resize: vertical;
}

.contact-form input:focus, textarea:focus {
    outline-color:  var(--font-color);
}

#message-area {
    height: 10em;
}

input[type=submit] {
    width: 50%;
    max-width: 250px;
    height: 2.5em;
    background-color: var(--hover-font-color);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-bg-color);
}

input[type=submit]:hover {
    border: 3px solid var(--hover-bg-color);
    border-radius: 3px;
    letter-spacing: 0.05em;
}

footer {
    display: block;
    height: 80px;
    width: 100vw;
    background-color:  var(--hover-bg-color);
    color: var(--main-bg-color);
}

footer p {
    font-size: 20px;
    padding: 25px 1em 25px 0;
}

.scroll-top {
    margin-right: 1em;
    color: var(--main-bg-color);
    font-size: 0.9em;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
    .menu ul ul {
        display: none;
    }

    .menu ul li:hover > ul {
        display: block;
        margin: 0% 18%;
        padding-top: 0.5em;
        width: 64%;
        background-color: var(--main-bg-color);    
    }
}

@media screen and (min-width: 576px) {
    .container {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #underline-logo {
        display: none;
    }

    .sub-menu-parent > a{
    display: none;
    }

    .menu ul ul li {
        display: inline-flex;
    }

    .main-photo {
        background-color: var(--sec-bg-color);
        margin: 0;
        padding: 0;
    }

    .main-photo img {
        width: 50%;
        padding: 1rem 0;
        margin: 0
    }

    #about-me {
        padding-top: 2rem;
    }

    .abt-me {
        width: 70vw;
        padding: 0;
        margin: 0 auto;
    }

    .social-item {
        font-size: 3.5em;
        padding: 0% 9%;
        margin: 3% 0;
    }

    .gal-container {
        flex-direction: row;
        width: 85vw;
        min-height: 150px;
    }

    .image {
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 0.5rem;
        align-items: center;
    }

    .logo h1 {
        font-size: 1.3em;
    }

    .logo p {
        font-size: 1.1em;
    }

    .sub-menu-item {
        font-size: 1.1em;
    }

    main {
        display: inline-flex;
        flex: 1;
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--sec-bg-color);
        margin-top: 0.5rem;
    }

    .main-photo {
        width: 50vw;
        background-color:  var(--main-bg-color);
        
    }

    .main-photo img {
        width: 100%;
        padding: 0;
        margin: 0
    }

    #about-me {
        display: block;
        width: 50vw;
        padding: 0;
        margin: auto;
    }

    #about-me h2 {
        margin-bottom: 1rem;
    }

    .abt-me {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }


    .social-item {
        font-size: 2.5em;
        padding: 1% 6%;
        margin: 2% 0;
    }

    #underline-socials {
        padding-bottom: 0;
        width: 40%;
    }

    .gallery {
        background-color: var(--main-bg-color);
        margin-top: 0.8em;
    }

    .gallery p {
        margin-bottom: 0.8em;
        font-size: 1.5em;
    }

    .gal-container {
        flex-wrap: wrap;
        width: 80vw;
    }

    .image {
        width: 50%;
    }

    .photo4 {
        display: flex;
    }

    .contact-form {
        background-color: var(--sec-bg-color);
    }

    .contact-form p {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    main {
        background-color: var(--main-bg-color);
        width: 100 vw;
    }

    .main-photo {
        width: 50vw;
        font-size: 0;
    }
     .main-photo img {
        width: 100%;
        object-fit: cover;
    }

    #about-me {
        width: 50vw;
    }

    .sec-part {
        flex-direction: row-reverse;
    }

    .gallery {
        margin: -4px 0 0 0;
        width: 50vw;
        /* max-height: 500px; */
    }
    
    .gallery p {
        display: none;
    }

    .gal-container {
        width: 100%;
        padding: 0;
    }

    .mobile-disp-none {
        display: flex;
    }

    .image {
        width: 33.33%;
    }

    .contact-form {
        background-color: var(--main-bg-color);
        margin: -4px 0 0 0;
        width: 50vw;
    }

}