* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fff;
    --sec-bg-color: #ddd;
    --font-color: #333;
    --hover-bg-color: #333;
    --hover-font-color: #666;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    /* box-sizing: border-box; */
    background-color: var(--main-bg-color);
    color: var(--font-color);
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
}

.logo {
    text-align: center;
    width: 100vw;
}

.logo h1 {
    margin-top: 25px;
    letter-spacing: 0.15em;
    font-size: 1.2em;
}

.logo p {
    margin-bottom: 25px;
    font-size: 1em;
}

#underline-logo {
    height: 0;
    border: 0;
    border-top: 2px solid var(--font-color);
    margin: 0;
    padding: 0;
    width: 60%;
}

.menu {
    width: 100vw;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    font-weight: 700;
}

#menu {
    margin: 25px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--font-color);
}

@media screen and (max-width: 540px) {
.menu ul ul {
    display: none;
}
}

.sub-menu-item {
    margin: 2%;
}

@media screen and (max-width: 540px) {
    .menu ul li:hover > ul {
        display: block;
        margin: 0% 18%;
        padding-top: 0.5em;
        width: 64%;
        background-color: var(--main-bg-color);    
    }
}

.menu ul ul li > a{
    color: var(--font-color);
    margin: 0;
}

.main-photo {
    overflow: hidden;
}
#me {
    width: 100vw;
    margin-bottom: 15px;
}

.abt-me {
    margin: 0 .5em;
    padding: 10px 5px;
    text-align: justify;
    text-align-last: center;
}

#underline-socials {
    height: 0;
    border: 0;
    border-top: 2px solid var(--font-color);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 7%;
    width: 50%;
}

.social-item {
    font-size: 2.5em;
    padding: 5% 8%;
    margin: 2% 0;
}

.social-item a {
    text-decoration: none;
    color: var(--font-color);
}

.social-item a:hover {
    text-decoration: none;
    color: var(--hover-font-color);
}

.gallery {
    background-color: var(--sec-bg-color); 
}

.gallery p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

.gal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
    font-size: 0;
}

.image {
    margin: 0;
    padding: 0;
    width: 80vw;
}

.image img {
    width: 100%;
}

.mobile-disp-none {
    display: none;
}


.contact-form {
    display: block;
    width: 100vw;
    margin: 0 auto;
    padding: 0.5em;   
}

.contact-form p {
    font-size: 20px;
    font-weight: 400;
    margin: 0.5em;
}

.contact-form input, textarea {
    width: 80%;
    height: 2.5em;
    margin: 5px;
    padding: .3em;
    border: 1px solid;
    border-color: var(--font-color);
    border-radius: 3px;
    resize: vertical;
}

.contact-form input:focus, textarea:focus {
    outline-color:  var(--font-color);
}

#message-area {
    height: 10em;
}

input[type=submit] {
    width: 50%;
    max-width: 250px;
    height: 2.5em;
    background-color: var(--hover-font-color);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-bg-color);
}

input[type=submit]:hover {
    border: 3px solid var(--hover-bg-color);
    border-radius: 3px;
    letter-spacing: 0.05em;
}

footer {
    display: block;
    height: 80px;
    width: 100vw;
    background-color:  var(--hover-bg-color);
    color: var(--main-bg-color);
}

footer p {
    font-size: 20px;
    padding: 25px 1em 25px 0;
}

.scroll-top {
    margin-right: 1em;
    color: var(--main-bg-color);
    font-size: 0.9em;
    text-decoration: none;
}

@media screen and (min-width: 541px) {
    .container {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #underline-logo {
        display: none;
    }

    .sub-menu-parent > a{
    display: none;
    }

    .menu ul ul li {
        display: inline-block;
    }

}

/* To dać w media na desktop */

/* .menu ul li > a{
    display: none;
}

.menu ul ul li a {
    display: inline-block;
} */